on:
  workflow_call:
    inputs:
      create-tag:
        description: "Create a tag with the new version"
        type: boolean
        required: false
        default: true
      ignore-no-release:
        description: "Don't check for NO RELEASE to disable tag creation"
        type: boolean
        required: false
        default: false

    outputs:
      current-version:
        description: "The current version"
        value: ${{ jobs.increment_version.outputs.current-version }}
      version:
        description: "The new version"
        value: ${{ jobs.increment_version.outputs.version }}

jobs:
  increment_version:
    name: Increment Version
    runs-on: ubuntu-latest

    permissions:
      contents: write

    outputs:
      current-version: ${{ steps.version.outputs.current-version }}
      version: ${{ steps.version.outputs.version }}

    steps:
      - uses: actions/checkout@v4

      - uses: automas-dev/reusable-workflows/increment_version@main
        with:
          create-tag: ${{ inputs.create-tag }}
          ignore-no-release: ${{ inputs.ignore-no-release }}
